.navbar {
    
    background-image: url('./img/2.jpg');
    
}

.navbar a {
    text-decoration: none;
    margin: 5px;
    color: aliceblue;
    text-align: end;
}

.navbar a:hover {
    color: red;
}